@model VmstatsGUI.Request

@{
    ViewData["Title"] = "Index";
}

<h2>Step: Start</h2>

<p>Please enter the information to select the data to be processed. Once entered press the button to continue and for the results to be displayed.</p>

<form asp-action="Process">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="FromDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FromDate" class="form-control" />
                <span asp-validation-for="FromDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ToDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ToDate" class="form-control" />
                <span asp-validation-for="ToDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VmPattern" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VmPattern" class="form-control" />
                <span asp-validation-for="VmPattern" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Dsl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Dsl" rows="4" cols="40" class="form-control">
                </textarea>
                <span asp-validation-for="Dsl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <!--                <input type="submit" value="Process" class="btn btn-default" />-->
                <input type="button" id="processButton" value="Process" />
            </div>
        </div>
    </div>
</form>

<hr />
<h4>Raw Data</h4>
<div class="row">
    <div class="col-6">&nbsp;</div>
    <div class="chart-container" style="position: relative; height:40vh; width:80vw">
        <canvas id="rawGraph"></canvas>
    </div>
</div>

<hr />
<h4>Processed Data</h4>
<div class="row">
    <div class="col-6">&nbsp;</div>
    <div class="chart-container" style="position: relative; height:40vh; width:80vw">
        <canvas id="processedGraph"></canvas>
    </div>
</div>


<!-- TODO see article https://www.c-sharpcorner.com/article/creating-charts-with-asp-net-core/ -->


<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/vmstats.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}